<!DOCTYPE html>

<html class="accueil" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>todo.html</title>
    <link rel="stylesheet" href="style.css">
    <style type="text/css" media="screen">
        [v-cloak] {
            color: white;
            border: 1px solid red;
        }
        ul, li{
            list-style: none;
            padding-left: 0;
        }
        li{
            height: 25px;
            display: flex;
            padding-bottom: 5px;
        }
        li button{
            height: 25px;
            border: 0;
            background-color: transparent;
        }
        li img{
            height: 23px;
        }
    </style>
</head>
<body>
<h1>Todo liste</h1>
<div id="app">
    <todolist></todolist>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    let btn = Vue.component('todolist',{
        data: function () {
            return{
                todoMessage: [{id: 1, titre: ""}],
            }},
        methods: {
            ajouter(){
                this.todoMessage.push({
                    id: this.todoMessage[this.todoMessage.length-1].id+1,
                    titre:""
                });
                this.$nextTick(function () {
                    let lastInputRef = 'input_'+ (this.todoMessage[this.todoMessage.length-1].id);
                    this.$refs[lastInputRef][0].focus();
                });
            },
            supprimer(val){
                if(this.todoMessage.length === 1){
                    return;
                }
                this.todoMessage.splice(this.todoMessage.indexOf(val),1);
            },
            nbremplisB() {
                return this.todoMessage.filter((el)=>el.titre.length>0).length;
            }
        },
        watch:{
            todoMessage: {
                deep: true,
                handler(){
                    localStorage.setItem('todolist', JSON.stringify(this.todoMessage));
                }
            }
        },
        computed: {
            nbremplisA() {
                return this.todoMessage.filter((el)=>el.titre.length>0).length;
            }
        },
        filters: {
            nbremplisC(value){
                if(!Array.isArray(value)) return null;
                return value.filter((el)=>el.titre.length>0).length;
            }
        },
        mounted(){
            let lsValue = localStorage.getItem('todolist');
            if(JSON.parse(lsValue)) this.todoMessage = JSON.parse(lsValue);
        },
        template: `
        <div class="bloc">
            <h2>Todo</h2>
            <ul>
                <li v-for="(value) in todoMessage" :key="value.id">
                    <input @keyup.enter="ajouter" type="text" v-model="value.titre" :ref="'input_'+value.id">
                    <button @click="supprimer(value)"><img src="https://www.materialui.co/materialIcons/action/delete_black_192x192.png" alt="Supprimer"></button>
                </li>
            </ul>
            <button @click="ajouter">Add todo</button>
            <br><span>MaxA : {{ nbremplisA }}</span>
            <br><span>MaxB : {{ nbremplisB() }}</span>
            <br><span>MaxC : {{ todoMessage | nbremplisC }}</span>
            <br><span>Debug : {{ todoMessage }}</span>
        </div>`
    });


    var app = new Vue({
        el: '#app',
        components:{btn}
    });

</script>
</body>
</html>
